@model AnyoneForTennis.Models.Coach

@{
    ViewData["Title"] = "Delete Coach";
}

<div class="container my-4">
    <div class="row">
        <div class="col text-center">
            <h1>@ViewData["Title"]</h1>
            <h3 class="text-danger">Are you sure you want to delete this coach?</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mb-3">
                <div class="card-header text-center">
                    <h5>Coach Profile</h5>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        @if (Model.Photo != null)
                        {
                            <img src="@Model.Photo" class="img-fluid rounded-circle" alt="Coach Photo" />
                        }
                        else
                        {
                            <img src="https://via.placeholder.com/150" class="img-fluid rounded-circle" alt="Placeholder Photo" />
                        }
                    </div>
                    <h6 class="card-title text-center">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h6>
                    <dl class="row mt-3">
                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.User!.Email)</dd>
                    </dl>
                    <dl class="row mt-3">
                        <dt class="col-sm-4">Biography:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Biography)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="CoachId" />
                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
                    <a class="btn btn-secondary btn-lg" asp-action="Index">
                        <i class="fa fa-arrow-left"></i> Back to List
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
